*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'arial';
}
.container{
    margin: 4rem 10rem 0rem 10rem;
    line-height: 2rem;
}
header {
    width: 100%;
    background:rgb(0, 0, 0,0.1);
    background-color: rgb(255,255,255,0.5);
    box-shadow: rgb(255 255 255 / 0%) 0px 1px 1px inset, rgb(0 0 0 / 0%) 0px -1px 3px inset;
    backdrop-filter: blur(24px);
    position: fixed;
    top: 0;
    padding: 1rem 0rem;
    z-index: 1000;
}
.navigationBar{
    padding: 0 8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo, .searchBar{
    display: flex;
    align-items: center;
    gap:1rem;
}
.logo img{
    width: 2rem;
}
.bannerImg{
    margin: 3.7rem;
    width: 90%;
    height: 45vh;
    border-radius: 20px;
    position: relative;
}
.logoCenter{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title1{
    text-decoration: underline;
    color: red;
}
.title3{
    text-decoration: underline;
    color: purple;
}

.para{
    padding: 1rem 2px;
}
.para1{
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
     margin: 1px 0;
}
.quote1{
    border-left: 5px solid rgb(32, 189, 241);
    border-radius: 5px;
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.author{
    font-weight: bolder;
    text-decoration: underline;
}
.title2{
    text-decoration: underline;
    color: rgb(47, 183, 228);
}
.fa-sharp{
    height: 10rem;
    width: 10rem;
}
.imageChoice{
    background-image: linear-gradient(90deg, #f2b5d4,#eff7f6, #7bdff2);
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
}
.flexBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.imageChoice img{
    width: 20rem;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
}
.imageChoice img:hover{
    cursor: grabbing;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 6px 6px 10px 10px #ffafcc;
}
.title4{
    text-decoration: underline;
    color: brown;
}
.title5{
    text-decoration: underline;
    color: olivedrab;
}
.footTitle{
    padding: 1rem;
}
.fContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    padding: 2rem;
    text-align: center;
}
.linkImg{
    width: 20rem;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
}
.linkImg:hover{
    cursor: grabbing;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 6px 6px 10px 10px #ffafcc;
}
.foot{
     background-color: lightyellow;
    padding: 2rem 10rem;
    color:lightseagreen;
    font-style: italic;
    font-size:1.3rem;
    text-align: center;
   }


@media only screen and (max-width: 600px){
    .searchBar{
        display: none;
    }
    .navigationBar{
        padding: 0 2rem;
    }
    .bannerImg{
        border-radius: 0;
    }
    .bannerImg{
        margin: 0;
        width: 100%;
        align-items: center;
    }
    .logoCenter{
        top: 47%;
        left: 50%;
    }

    .centerLogo{
            width: 40%;
        }
        .logoCenter h1{
            font-size: large;
        }
        .container{
            margin: 3rem auto;
             padding: 2rem;
                       
        }
        .imageChoice img {
            width: 15rem;
        }
        
        .linkImg img {
            width: 5rem;
        }
    }
    .footer {
        background-color: #414141;
        width: 100%;
        text-align: left;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 50px;
        margin-top: 50px;
      }
      
      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: inline-block;
        vertical-align: top;
      }
      
      
      /* footer left*/
      
      .footer .footer-left {
        width: 33%;
        padding-right: 15px;
      }
      
      .footer .about {
        line-height: 20px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
      }
      
      .footer .about span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      .footer .icons {
        margin-top: 25px;
      }
      
      .footer .icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
      }
      
      
      /* footer center*/
      
      .footer .footer-center {
        width: 30%;
      }
      
      .footer .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
      }
      
      .footer .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
      }
      
      .footer .footer-center p {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0;
      }
      
      .footer .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
      }
      
      .footer .footer-center p a {
        color: #0099ff;
        text-decoration: none;
      }
      
      
      /* footer right*/
      
      .footer .footer-right {
        width: 35%;
      }
      
      .footer h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: normal;
        margin: 0;
      }
      
      .footer h2 span {
        color: #0099ff;
      }
      
      .footer .menu {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
      }
      
      .footer .menu a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
      }
      
      .footer .menu a:hover {
        color: #0099ff;
      }
      
      .footer .name {
        color: #0099ff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      
      @media (max-width: 767px) {
        .footer {
          font-size: 14px;
        }
        .footer .footer-left,
        .footer .footer-center,
        .footer .footer-right {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
        }
        .footer .footer-center i {
          margin-left: 0;
        }
      }